* {
    margin: 0; padding: 0;
}

body {
    position: absolute;
    left: 50%; top: 50%;
    transform: translate(-50%, -50%);
    background: #111;
}

ul {
    position: relative;
    display: flex;
}

ul li{
    list-style-type: none;
    position: relative;
    width: 60px;
    height: 60px;
    margin: 0 20px;
    font-size: 40px;
}

ul li span {
    display: flex !important;
    font-size: 30px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    background: #2a2a2a;
    color: #fff;
    transition: .4s linear;
    position: absolute;
}

ul li:hover span {
    transition: 0.5s;
    color: #fff;
    box-shadow: -1px 1px 1px 1px lightblue;
}

ul li:hover span:nth-child(5) {
    transform: translate(40px, -40px);
    opacity: 1;
}

ul li:hover span:nth-child(4) {
    transform: translate(30px, -30px);
    opacity: 0.8;
}

ul li:hover span:nth-child(3) {
    transform: translate(20px, -20px);
    opacity: 0.6;
}

ul li:hover span:nth-child(2) {
    transform: translate(10px, -10px);
    opacity: 0.4;
}

ul li:hover span:nth-child(1) {
    transform: translate(0px,0px);
    opacity: 0.2;
}

ul li:nth-child(1):hover span {
    background: #1da1f2;
}

ul li:nth-child(2):hover span {
    background: #3f729b;
}

ul li:nth-child(3):hover span {
    background: #AD5C51;
}

ul li:nth-child(4):hover span {
    background: #0a213f;
}

ul li:nth-child(5):hover span {
    background: rgb(255, 169, 0);
}
